/* 
* Wikimedia template changes
*/

.masthead.segment {
    min-height: 0px !important
    
}

.wikimedia {
    padding-bottom: 1em !important
}

/* 
* Login page
*/

.form-group {
    margin-bottom: 20px;
}

/* 
* Basic form
*/

form {
    margin: 20px;
}

.upload {
    width: 100%;
    /*border: 1px dashed #ddd;*/
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    background: #ffffff;
    color: #666;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.upload:hover {
    background: #E5E5E5;
}

.upload input {
    cursor: pointer;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.upload-image {
    margin: 10px;
}

/* 
* Hidden buttons
*/

.login-button {
    display: none;
}

.preview-button {
    display: none;
}

.index-button {
    display: none;
}

.back-button {
    display: none;
}

/* 
* Validation
*/

.valid-feedback {
    font-size: large !important;
}

.valid-border {
    border: 2px solid green;
}

.invalid-feedback {
    font-size: large !important;
}

.invalid-border {
    border: 2px solid red;
}



